<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
    <h1>Registration!!</h1>
    <form method="POST" th:action="@{registration}" th:object="${registration}">
<!--        <div th:if="${#fields.hasAnyErrors()}">-->
<!--            <p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>-->
<!--        </div>-->
        <label>Name</label>
        <input th:field="*{name}" />
        <ul>
            <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
        </ul>
        <input type="submit", value="reg">
    </form>
</body>
</html>